body{
    background-color: black;
}


.match-button{
    background-color: antiquewhite;
    padding: 20px 10px 15px 10px;
    margin-left: 10px;
    border: none;
}

.match-button:hover{
    opacity: 50%;
}

#world-cup-wrap{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: antiquewhite;
    max-width: 300px;
}

.world-cup--text{
    padding: 5px;
    font-size: larger;
    border: none;
    background-color: antiquewhite;
}