body{
    background-color: black;
}


.match-button{
    background-color: antiquewhite;
    padding: 20px 10px 15px 10px;
    margin-left: 10px;
    border: none;
}

.match-button:hover{
    opacity: 50%;
}

.is-hidden{
    display: none;
}


#world-cup-wrap{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: antiquewhite;
    max-width: 300px;
}

#matches-button-wrap{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: antiquewhite;
    max-width: 300px;
}

#sort-buttons{
    display: flex;
    flex-direction: row;
}

#sort-buttons button{
    background-color: bisque;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    border-radius: 10%;
}

.world-cup--text{
    padding: 5px;
    font-size: larger;
    border: none;
    background-color: antiquewhite;
}